$titleMarginOffset: -70px;

// HOMEPAGE STYLES

.mainTitle {
    font-size: 18rem;
    margin: 256px 0px 0px 0px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.homeSubP {
    font-size: 1.2rem;
    max-width: 750px;
    margin: 0px auto 76px auto;
    padding: 0px 20px;
}