doctype html
html(lang="en")
	head
		include ../templates/metaTags.pug
		title Resume -|- Evan King
	body#body
		main.documentSize.frameMargin
			h1 Evan King
			p
				a(href='https://www.linkedin.com/in/king-evan/') LinkedIn
				|  | 
				a(href='https://github.com/evankingca') GitHub
			h2 Education
			h3
				a(href='https://www.algonquincollege.com/sat/program/web-development-internet-applications/') Web Development and Internet Applications
				br
				div Algonquin College, Ottawa, Ontario (September 2024 - August 2026)
			ul
				li GPA 3.97 / 4.00
				li Dean&apos;s Honours List
			h2 Program-Related Skills
			p
				b Programming Languages:
				|  HTML, CSS, Sass, Bootstrap, JavaScript, Python, C#, ASP.NET, PHP, SQL
			p
				b Operating Systems:
				|  Windows 10, Windows 11, Linux
			p
				b Software/Systems:
				|  Jetbrains Webstorm, JetBrains Rider, Jetbrains Datagrip, Visual Studio Code, Apache, WordPress, Microsoft Office (Word, Excel, PowerPoint), TCP/IP
			p
				b Additional Qualifications:
			ul
				li Effective team collaborator, helped lead multiple groups projects to success.
				li Skilled at communicating, has provided explicit information on issues with detailed feedback
				li Problem-Solving, has dealt with non-technical people and helped resolve issues
			h2 Related Experience
			h3 Built church website (Oct. 2020 - Nov. 2021):
			ul
				li Designed and deployed WordPress site for a local church
				li Analyzed requirements from client and developed working prototype
				li Built custom theme using CSS and PHP
				li Collaborated with other team members to integrate new content into design
				li Set up user accounts and trained administrators
			h3 Volunteered on church audio/video team (2019 - 2024):
			ul
				li Mixed and managed live sound
				li Set up and deployed video recording and streaming system using professional grade equipment
				li Set up multi-room projection system
			h2 Projects
			h3 Personal website (May 2022 - Present):
			ul
				li Built a website to host personal art and software projects
				ul
					li Created base with HTML, CSS, and JavaScript
					li Used Gulp automation toolkit to lower code reuse and speed up development
					li Hosted through Google Cloud
					li Created workflow to automatically build the site on Git push, allowing for sub-3-minute deployment.
					li Set up an analytics system using Vercel and Supabase
					li Used Google Cloud Storage connected to AWS Cloudfront CDN for efficient asset delivery
				li Forked an open-source project, made minor updates, and hosted it on the site
				li Created computer graphics artwork using Blender
				li Created a modular asset for Blender and distributed it online
			h3 Academic Projects:
			ul
				li Created dynamic, database-driven student registration web application using C# and .NET
				li Made multiple functional JavaScript apps, using external APIs
				li Implemented web designs with HTML and CSS, based on requirements from mock-up images
				li Designed and interacted with databases systems.
			h2 Tools
			ul
				li Visual Studio Code
				li Jetbrains Webstorm
				li Jetbrains Rider
				li Jetbrains DataGrip
				li GitHub
				li AWS
				li Azure
				li Google Cloud
				li Cloudflare
				li Linux (Ubuntu, Arch, RHEL and SUSE based)
				li Apache
				li NGINX
				li WordPress
				li Microsoft Office (Word, Excel, PowerPoint)
				li LibreOffice
			h2 Awards and Achievements
			ul
				li Artwork featured 3 times on 
					a(href='https://blenderartists.org/') BlenderArtists.org
				li Wrote article for 
					a(href='https://www.blendernation.com/') BlenderNation.com
		//
			<br>
			<br>
			<p>For more detailed descriptions of some of my projects, please visit <a href="./work.html">this page</a>.</p>
	include ../templates/header.pug