header.headerbar
    div.headerCont
        nav
            ul#linksList
                li
                    a#otherLink(href='https://github.com/evankingca/evanking-website') Site Source
                li
                    a#homeLink(href='/') Home
                li
                    a#resumeLink(href='/resume.pug') My Resume
div.frame